* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.flex-container .text-center {
  text-align: center;
}
.flex-container .text-center h1,
.flex-container .text-center h3 {
  margin: 10px;
  cursor: default;
}
.flex-container .text-center h1 .fade-in,
.flex-container .text-center h3 .fade-in {
  animation: fadeIn 2s ease infinite;
}
.flex-container .text-center h1 {
  font-size: 8em;
  transition: font-size 200ms ease-in-out;
  border-bottom: 1px dashed white;
}
.flex-container .text-center h1 span#digit1 {
  animation-delay: 200ms;
}
.flex-container .text-center h1 span#digit2 {
  animation-delay: 300ms;
}
.flex-container .text-center h1 span#digit3 {
  animation-delay: 400ms;
}
.flex-container .text-center .button {
  border: 1px solid white;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: background-color 200ms ease-in;
  margin: 20px 0;
}
.flex-container .text-center .button:hover {
  background-color: rgb(245, 236, 236);
  color: #555;
  cursor: pointer;
}

@keyframes colorSlide {
  0% {
    background-color: #152a68;
  }
  25% {
    background-color: rgb(161, 161, 161);
  }
  50% {
    background-color: seagreen;
  }
  75% {
    background-color: rgb(250, 248, 248);
  }
  100% {
    background-color: #152a68;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden {
  display: none;
}

html, body {
  height: 100%;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
}

header {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: rgb(124, 124, 124);
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: rgb(50, 50, 50);
}

#main-logo {
  width: 220px;
  padding: 10px 0;
}

article {
  padding: 20px;
  margin: 2em;
}

article h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 14px;
}

article p {
  width: 80%;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
}

.pics {
  display: flex;
  justify-content: left;
  width: 100;
  margin: 2em;
}

h2 {
  font-family: "Marcellus";
  color: rgb(23, 0, 23);
  font-size: 18px;
  padding: 0.4em;
}

h3 {
  font-family: "Mulish";
  font-size: 16px;
  padding: 0.3em;
  color: rgb(10, 10, 10);
}

.clickBuy {
  display: flex;
  background-color: grey;
  color: aliceblue;
  margin: 2em;
}

.clickBuy h3 {
  font-family: "helvetica";
  padding: 1.4em;
  font-size: 34px;
  font-weight: 200;
  color: white;
  justify-content: flex-start;
}

.clickBuy h4 {
  padding: 0.5em;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1em;
  font-weight: 100;
  justify-items: flex-end;
}

.clickBuy h5 {
  padding: 0.2em;
  font-size: 18px;
}

.clickBuy a {
  margin: 1em;
  border: 1px solid rgb(236, 247, 113);
  border-radius: 40px;
  color: rgb(20, 20, 20);
  background-color: rgb(236, 236, 118);
  margin-top: 3em;
  margin-left: 1em;
  padding: 1em;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
  justify-content: center;
  display: flex;
  z-index: 100;
  padding: 10px;
  max-width: 180px;
  min-width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  min-width: 150px;
}

.clickBuySection .action {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.pic {
  width: 750px;
  height: auto;
  background-color: black;
}

@media screen and (min-width: 760px) {
  .pic {
    width: 750px;
    height: auto;
    background-color: black;
  }
}
@media screen and (max-width: 760px) {
  .pic {
    width: 200px;
    height: auto;
    background-color: black;
  }
  .clickBuy h3 {
    font-family: "Helvetica";
    padding: 1em;
    font-size: 20px;
    color: white;
    justify-content: flex-start;
  }
  .clickBuy h4 {
    padding: 0.5em;
    padding-right: 1em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    justify-items: flex-end;
  }
  .clickBuy h5 {
    padding: 0.2em;
    font-size: 14px;
  }
  .clickBuy a {
    margin: 1em;
    border: 1px solid rgb(236, 247, 113);
    border-radius: 40px;
    color: rgb(20, 20, 20);
    background-color: rgb(236, 236, 118);
    margin-top: 3em;
    margin-left: 1em;
    padding: 1em;
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;
    justify-content: center;
    display: flex;
    z-index: 100;
    padding: 10px;
    max-width: 140px;
    min-width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    min-width: 150px;
  }
}
#car-nav {
  text-align: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.car {
  list-style-type: none;
  padding: 1.5em;
  margin: 4em;
}

.car li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 360px;
  margin: 10px 8px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  overflow: hidden;
  /* border: thin dashed white; */
}

.car li h5 {
  /* font-family: 'Roboto Condensed', sans-serif; */
  padding: 14px 8px;
  position: relative;
  z-index: 50;
}

.car li h5 {
  color: rgb(3, 3, 3);
  font-size: 24px;
  font-family: "Mulish", serif;
  padding: 2em;
}

.car li a {
  text-decoration: none;
}

/* Generic styling */
* {
  box-sizing: border-box;
  font-family: "Mulish", "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: rgb(16, 16, 16);
  color: #bbb;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}

.lightbox {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0em;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-position: 10em top;
  background-size: 55vh;
  z-index: 5000;
}

.lightbox_close {
  float: right;
  top: 20px;
  left: 90%;
  cursor: pointer;
  width: 25px;
}

.lightbox_close:hover {
  opacity: 0.7;
  transform: scale(-1, 1);
}

.lightbox .lightbox-container {
  width: 1080px;
  height: 550px;
  padding: 25px;
  margin: auto;
  display: inline;
  overflow: auto;
  border-radius: 15px;
  background-color: #fff;
}

.lb_text,
.lb_heading {
  text-align: center;
  padding-right: 2em;
  margin: 3em;
  font-size: 30px;
  color: rgb(84, 0, 84);
}

.lb_text {
  display: flex;
  justify-content: right;
  line-height: 1.6 !important;
  margin-left: 0;
  padding-top: 2em;
}

.lb_pic {
  width: 550px;
  height: auto;
  float: left;
  margin: 2em;
}

.butBuy {
  margin: 1em;
  border: 1px solid rgb(236, 247, 113);
  border-radius: 40px;
  color: rgb(20, 20, 20);
  background-color: rgb(236, 236, 118);
  margin-top: 3em;
  margin-left: 1em;
  padding: 1em;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
  justify-content: center;
  display: flex;
  z-index: 100;
  padding: 10px;
  min-width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  min-width: 150px;
  max-width: 300px;
}

@media screen and (max-width: 760px) {
  .lb_pic {
    width: 320px;
    height: auto;
    float: left;
  }
}

/*# sourceMappingURL=main.css.map */
