#car-nav { 
    text-align: center; 
    background-color: #ffffff; 
    //background-image: url('../images/characters_art_mas_mob_01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    //background-blend-mode: overlay;
  }
  
  .car { list-style-type: none; padding: 1.5em; margin: 4em;}
  
  .car li { 
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 360px;
    margin: 10px 8px;
  
    background-color: rgb(255, 255, 255);
    text-align: left;
    overflow: hidden;
  
    /* border: thin dashed white; */
  }
  
  .car li h5 {
    /* font-family: 'Roboto Condensed', sans-serif; */
    padding: 14px 8px; 
    position: relative; 
    z-index: 50; 
  }
  
  .car li h5 {
    color: rgb(3, 3, 3);
    font-size: 24px;
    font-family: 'Mulish', serif;
    padding: 2em;
  }
  
  .car li a {
    text-decoration: none;
  }


  

